body {
  background-color: darkgreen;
  /* align-content: center; */
}

h1 {
  color: goldenrod;
  font-weight: 800;
  font-style: oblique;
}

#message-el {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 8px solid white;
}

p {
  color: rgb(236, 240, 243);
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}
