body {
  background-image: url(table.png);
  background-size: cover;
}

h1 {
  color: goldenrod;
  font-weight: 800;
  font-style: oblique;
  font-size: 5em;
}

#message-el {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 8px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

p {
  color: rgb(236, 240, 243);
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}
